<div class="main-page">
  <div class="banner">
    <div class="banner-content">
      <p>Привет 👋🏻</p>
      <p class="sub-content">
        Здесь находятся все данные по статистике ваших сотрудников
      </p>
    </div>
  </div>

  <div class="info-blocks">
    <div class="card">
      <div class="logo"><img src="assets/icons/person-icon.svg" alt="" /></div>
      <div class="info">
        <div class="text">Всего сотрудников</div>
        <div class="value">35</div>
      </div>
    </div>
    <div class="card">
      <div class="logo"><img src="assets/icons/coins.svg" alt="" /></div>
      <div class="info">
        <div class="text">Всего начислено</div>
        <div class="value">359</div>
      </div>
    </div>
    <div class="card">
      <div class="logo"><img src="assets/icons/coins.svg" alt="" /></div>
      <div class="info">
        <div class="text">Всего потрачено</div>
        <div class="value">243</div>
      </div>
    </div>
  </div>

  <div class="analytics-container">
    <div class="analytics">
      <div class="title">
        <div class="icon">
          <img src="assets/icons/analytic-icon.svg" alt="" />
        </div>
        <div class="text">Аналитика продаж за год</div>
      </div>
      <div class="data">
        <img src="assets/images/analytics/Group%20134.png" alt="" />
      </div>
    </div>
    <div class="most-popular">
      <div class="title">Популярные льготы</div>

      <div class="data">
        <img src="assets/images/analytics/right-popular.png" alt="" />
      </div>
    </div>
  </div>

  <div class="analytics-container">
    <div class="analytics">
      <div class="title">
        <div class="icon">
          <img src="assets/icons/analytic-icon.svg" alt="" />
        </div>
        <div class="text">Аналитика продаж за год</div>
      </div>
      <div class="data">
        <img src="assets/images/analytics/analytics_m.png" alt="" />
      </div>
    </div>
    <div class="most-popular">
      <div class="title">
        <div class="text">Популярные льготы</div>
        <div class="sub-text">
          Вы можете увидеть процент активных пользователей, совершающих покупки,
          и тех, кто не заходит на платформу.
        </div>
      </div>

      <div class="data">
        <img src="assets/images/analytics/activity.png" alt="" />
      </div>
    </div>
  </div>
</div>
